body{
	background: linear-gradient(to top, #333, #333 50%, #eee 100%, #333 100%);
	color:#fff;
	padding:0px;
	margin:0px;
	height:1200px;
}
header{
	margin: :0px;
	width:100%;
	height:80px;
	background-color:#676767;
}
h2.title{
	padding:0px;
	margin:0px;
	color:#FFF;
	font-size:3.5em;
	position: absolute;
	left:40%;
	top:1%;
}
h3.title{
	color: #000;
	font-size: 1.8em;
}

#globals{
	position:absolute;
	width:1200px;
	height:auto;
	left:50%;
	top:10%;
	margin-left:-600px;
	background-color:#fff;
	border:1px solid rgba(255,255,255,0.3);
}
#globals p{
	color:#000;
}
.case{
	position:relative;
	width:750px;
	height:500px;
	background-color:#D3D3D3;
	padding:5px;
	margin:10px;
	float:left;
}
#side_case{
	 position:absolute;
	 width:360px;
	 height:500px;
	 background-color:#D3D3D3;
	 left:67.5%;
	 margin:10px;
	 padding:5px;
}
#side_case2{
	 position:absolute;
	 width:300px;
	 height:445px;
	 margin:55px;
	 padding:0px;
	 background-color:#D3D3D3;
	 left:-7%;
}
.HeadPic{
	width:220px;
	height:290px;
	position: absolute;
	left:18%;
	bottom:-88%;
}
h4.title{
	padding:0px;
	margin:0px;
	color:#000;
	font-size:2.5em;
	position: absolute;
	left:25%;
	top:115%;
	text-decoration: underline;
}
.side_text{
	position:absolute;
	left:410px;
	top:-14px;
}
#line_break{
	padding-left:-14px;
	padding-top:18px;
}
#line_break2{
	padding-left:-15px;
	padding-top:50px;
}
